*{
    font-family: 'Montserrat'; 
   }
   
@font-face {
     font-family: 'Montserrat';
     src:
   url('montserrat-v15-latin-regular.woff2') format('woff2');
}

:root{
  --mainColor:white;
  --secColor:black;
  --col1:rgb(255, 166, 0);
  --col1o:rgba(255, 201, 101, 0.415);
  --col2:rgb(0, 255, 21);
  --col2o:rgba(170, 255, 101, 0.415);
  --col3:rgb(0, 255, 153);
  
  
}
  body {
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  color: var(--col3);;
}
a.no-line{
  color: inherit;
  text-decoration: none;
}

