*{
    font-family: 'Montserrat'; 
   }
   
@font-face {
     font-family: 'Montserrat';
     src:
   url('montserrat-v15-latin-regular.woff2') format('woff2');
}


  body {
      background: rgb(7, 6, 20);
  background: linear-gradient(
    5deg,
    rgba(7, 6, 20, 1) 5%,
    rgba(16, 25, 60, 1) 35%,
    rgba(10, 75, 59, 1) 50%,
    rgba(16, 25, 60, 1) 65%,
    rgba(7, 6, 20, 1) 95%
  );
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

h1{
    font-size: 450%;
}
.white-tab{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px;
  border-radius: 50px;
  overflow: visible;
  font-size: 2vw;
  
}




.main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 2px;
  width: 100%;

}
@media all and (min-width: 725px){
  .main-footer{
  flex-direction: row;
  }
}
@media all and (max-width: 724px){
  .main-footer{
    flex-direction: column;
    }
  }
.last-up{
  right: 0;
}